@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@font-face {
  font-family: 'Gora Free', Regular;
  src: url('/C:/Users/m12sinev/Desktop/прога/font/Gora-Free.ttf');
}

@font-face {
  font-family: 'Roboto', Bold;
  src: url('/C:/Users/m12sinev/Desktop/прога/font/3955.ttf');
}

* {
  margin: 0px;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  box-shadow: 0px 0px 10px 0px black;
  margin: 0px auto;
}

.container {
  width: 1100px;
  margin: 0px auto;
  padding: 15px 20px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.header {
  background: #2b2b2b;
}
.header__content {
  text-align-last: justify;
}
.header__part{
  display: inline-block;
  text-align-last: auto;
  vertical-align: middle;
}


.menu__list {
  text-align: center;
}

.menu__item {
  display: inline-block;
  margin: 0px 15px;
}
.menu__link:hover{
  color: #f89513;
}
.menu__link {
  display: inline-block;
  padding-left: 30px;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', Bold;
  font-size: 12px;
}
.menu_g1 {
  background: url('./header/main_icon\ —\ копия.png') no-repeat left center;
}
.menu_g2 {
  background: url('./header/feed_icon\ —\ копия.png') no-repeat left center;
}
.menu_g3 {
  background: url('./header/service_icon\ —\ копия.png') no-repeat left center;
}

.logo {
  font-size: 18.18px;
  font-family: 'Gora Free', Regular;
  color: #f89513;
}
.logo:hover {
  color: #f89513;
}
.contacts {
  color: #fff;
  text-align: right;
}

.contacs__phone {
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}
.contacs__phone:hover{
  color: #f89513;
}
.contacts__hours_text  {
  font-size: 14px;
  font-weight: bold;
  opacity: .7;
  color: #f89513;
}
.contacts__hours_text:hover{
  color: #ffffff;
}
.run__man img {
  display: block;
  margin: 70px auto 30px;
}

.feature {
  background: #131415;
  height: 572px;
}

.feature-text {
  text-align: center;
  font-size: 49px;
  font-family: 'Open Sans', Bold;
  color: white;
  margin-top: 60px;
}

.feature-text1 {
  font-family: 'Open Sans', Extrabold;
  font-size: 10.78px;
  margin: 40px 0px 30px 0px;

}

.feature-list {
  text-align: center;
  margin-top: 65px;
}
.feature__item_text{
  margin-bottom:20px;
}
.feature__item {
  display: inline-block;
  color: white;
  font-family: 'Open Sans', Regular;
  font-size: 18px;
  text-align: center;
  margin-right:65px;
  width: 220px;
}
.feature__item_list{
  margin-bottom:13px;
}
.feature__img1 {
  margin: auto;
  background:  url('./особенности/flower.png') no-repeat center center;
  background-color: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.feature__img2  {
  margin: auto;
  background: url("./особенности/mark-as-favorite-star.png") no-repeat center center;
  background-color: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.feature__img3  {
  margin: auto;
  background: url('./особенности/painter-palette.png') no-repeat center center;
  background-color: #f89513;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}


.feature__item_list {
  margin-left: 20px;
  list-style-type: disc;
  padding-left: 24px;
  text-align: left;
}

.latest__news_text {
  margin:50px 0px 70px 0px;
  text-align: center;
  color: #221f1f;
  font-family: 'Open Sans', Bold;
  font-size: 49px;
}

.latest-news__news{
  text-align: left;
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', Bold;
  width: 913px;
}

.last__news1__message {
  font-size: 18px;
  font-family: 'Roboto', light;
}

.last__news1-jpg {
  float: left;
  margin-right: 20px;
}
.latest-news__item{
margin-bottom: 64px;
}

.latest-news__item::after {
  content: '';
  display: table;
  clear: left;
}

.clear-right {
  clear: right;
}

.sidebar {
  float: right;
}

.image__month {
  margin-top: 26px;
}

.top__news-text {
  font-family: 'Open Sans', Bold;
  color: #221f1f;
  font-size: 12px;
}

.top__news-month {
  font-family: 'Open Sans', Bold;
  color: #656464;
  font-size: 12px;
}

.pagination {
  margin-bottom: 60px;
  font-family: "Roboto", Bold;
  text-align: center;
}

.pagination__items {
  display: inline-block;
  font-family: "Roboto", Bold;
}

.pagination__items  {
  font-family: 'Roboto', Bold;
  color: #221f1f;
  font-weight: bold;
}

.pagination__item_n{
  text-decoration: none;
  color: inherit;
}

.pagination__item {
  display: inline-block;
  margin: 0px 10px;
  font-size: 14px;
  color: #656464;
  font-family: 'Roboto', Light;
}

.pagination__item.active {
  background: #27273e;
  border-radius: 3px;
  padding: 5px 10px;
  color:#f89513;;
  margin: 0px 5px;
  font-family: "Roboto", Bold;
}
.pagination__item:hover{
  color: #f89513;
}

footer {
  background: #2b2b2b;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.footer__content {
  text-align-last: justify;
}
.footer__part {
  display: inline-block;
  vertical-align: middle;
  text-align-last: auto;
}

.author {
  width: 250px;
  font-family: 'Open Sans';
  font-size: 14px;
}

.author__text {
  font-family: 'Open Sans', Bold;
}

.logo-img1 {
  text-align: center;
  font-size: 18.18px;
  font-family: 'Gora Free Regular';
  color: #f89513;
}

.loftschool {
  color: #ffffff;
  font-family: "Open Sans", Bold;
  font-size: 14px;
}
.loftschool:hover{
  color: #f89513;
}

.footer__right {
  width: 205px;
}

.footer__contacts1-text {
  font-family: "Open Sans", Bold;
}

.contacts1__icons1,.contacts1__icons2,.contacts1__icons3,.contacts1__icons4,.contacts1__icons5 {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
 
}
.contacts1{
  margin-top: 10px;
}
.contacts1__icons1 {
  display: inline-block;
  background: url(./footer/vk.png) no-repeat center center, white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.contacts1__icons2 {
  display: inline-block;
  background: url(./footer/face.png) no-repeat center center, white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.contacts1__icons3 {
  display: inline-block;
  background: url(./footer/google.png)no-repeat center center, white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.contacts1__icons4{
  display: inline-block;
  background: url(./footer/twitter.png) no-repeat center center, white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.contacts1__icons5{
  display: inline-block;
  background: url(./footer/mail.png) no-repeat center center, white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}



.contacts1__icons1:hover,.contacts1__icons2:hover,.contacts1__icons3:hover,.contacts1__icons4 :hover,.contacts1__icons5:hover{
  background-color: #f89513;
}