body{
  margin: 0px;
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
.header{

font-family: 'Open Sans', Bold;
background: #2b2b2b;
margin-bottom: 90px;
height: 75px;
}  
ul.menu__list{
display: flex;
padding-top:27px ;
justify-content: center;
}
li.menu__item{
list-style: none;
padding-left: 17px;
}
.menu__item-g a{
color:#fff;
text-decoration: none;
font-size: 14px;
}
.menu__item-img {
display: inline-block;
text-decoration: none;
margin:auto;
margin-right: 28.72px;
}

.logo__pic {
position: absolute;
top: 27px;
left:10px;

}
.contacts {
position: absolute;
right: 0;
top: 0px;
color: #fff;
text-align: right;
margin:10px;
}
.contacs__phone {
color:#fff;
font-size: 21px;
font-weight: bold;
text-decoration: none;
}
.contacts__hours a{
font-size: 14px;
font-weight: bold;
opacity: .7;
color:#f89513;
}
.run__man img{
display: block;
  margin-left: auto;
  margin-right: auto
}
.features{
background: #131415;
height: 572px;
}
.feature-text{
color:white;
text-align: center;
margin-top:55px;
}
h4.uniqueness-item1,h4.uniqueness-item2,h4.uniqueness-item3{
font-family: 'Open Sans', Extrabold;
font-size: 10.78px;
}

li.uniqueness-item1{
display : inline-block;
color:white;
font-family: 'Open Sans', Regular;
font-size: 18px;

}
li.uniqueness-item2{
display : inline-block; 
color:white;
font-family: 'Open Sans', Regular;
font-size: 18px;
text-align: center;
}
li.uniqueness-item3{
display : inline-block;
color:white;
font-family: 'Open Sans', Regular;
font-size: 18px;
text-align: right;
}

